.meta {
  color: var(--text-light);
  font-size: 1.0rem;
}

nav a.current {
  color: var(--accent) !important;
  border-color: var(--accent) !important;
}

.medium {
  font-size: 1.4rem;
}

.small {
  font-size: 1.0rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  align-items: center; 
  display: flex;
  justify-content: center;
}

.image{
  float: left;
  padding: 5px;
}

aside {
  font-size: 0.8rem;
  width: 60%;
}

details[open] > p {
  font-size: 0.8rem;
}

.notice {
  font-size: 0.8rem;
}


